body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-purple{
  background-color:purple;
}
.mybg{
  background-color: #0c4379 !important;
}

.job-bg:hover{
  cursor: pointer;
  background-color: #e2e6ea;;
  transition: background-color 0.3s ease;
}

.list-items:hover{
  cursor: pointer;
  color: blue;
}

.sticky-div {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 56px; /* Adjust this value to match the height of your navbar */
  background-color: white;
  padding: 10px;
}